/* Fonts */
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital,wght@0,300..800;1,300..800&display=swap');
body{
    font-family: 'Open Sans', sans-serif;
    background-color: black;
    color: white;
    margin: 0;
    font-size: 12px;
}
/* Links */
a{
    text-decoration: none;
    color: white;
}
/* Header */
header{
    width: 1140px;
    max-width: 80%;
    display: flex;
    margin: auto;
    height: 50px;
    align-items: center;
    position: relative;
    z-index: 100;
}

header a{
    margin-right: 40px;
}
/* Carousel */
.carousel{
    margin-top: -50px;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.carousel .list .item{
    inset: 0 0 0 0;
    position: absolute;
}

.carousel .list .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.carousel .list .item .content{
    position: absolute;
    top: 20%;
    padding-right: 30%;
    width: 1140px;
    max-width: 80%;
    left: 50%;
    transform: translateX(-50%);
    box-sizing: border-box;
    color: white;
    text-shadow: 0 5px 10px black;
}

.carousel .list .item .content .author{
    font-weight: bold;
    letter-spacing: 10px;
}

.carousel .list .item .content .title,
.carousel .list .item .content .topic{
    font-weight: bold;
    font-size: 4em;
    list-style: 1.3em;
}

.carousel .list .item .content .topic{
    color: orange;
}

.carousel .list .item .content .buttons{
    display: grid;
    margin-top:20px;
    grid-template-columns: repeat(2, 130px);
    grid-template-rows: 40px;
    gap: 5px;
}

.carousel .list .item .content button{
    border: none;
    background-color: white;
    letter-spacing: 3px;
    font-family: 'Open Sans', sans-serif;
    font-weight: 500;
}

.carousel .list .item .content button:nth-child(2){
    background-color: transparent;
    color: white;
    border: 1px solid white;
}

/* Form and Results Styling */

#date-form {
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    gap: 10px;
    margin-top: 20px;
}

#date-form label {
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
    color: white;
}

#date-form select,
#date-form input,
#date-form button {
    flex: 1;
    padding: 10px;
    font-size: 14px;
    border: 1px solid white;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    color: white;
    outline: none;
}

#date-form select {
    appearance: none;
    background-image: url('data:image/svg+xml;utf8,<svg fill="white" height="24" viewBox="0 0 24 24" width="24" xmlns="http://www.w3.org/2000/svg"><path d="M7 10l5 5 5-5z"/></svg>');
    background-repeat: no-repeat;
    background-position: right 10px center;
}

#date-form select option {
    font-family: 'Open Sans', sans-serif;
    background-color: transparent;
    font-size: 14px;
}

/* #month {
    flex-basis: 40%;
    min-width: 130px;
}

#year {
    flex-basis: 40%;
    min-width: 80px;
}

#day {
    flex-basis: 40%;
    min-width: 110px;
} */




#compute-button {
    
    /* background-color: transparent; */
    border: 1px solid white;
    color: lightgray;
    padding: 10px;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    cursor: pointer;
    transition: all 0.3s ease;
    background-color: rgba(0, 0, 0, 0.5);
    backdrop-filter: blur(5px);
    color: white;
    outline: none;
}


#compute-button:not(:disabled) {
    border: none;
    background-color: lightgray;
    font-family: 'Open Sans', sans-serif;
    font-size: 14px;
    /* font-weight: 500; */
    color: #000;
}



#result {
    margin-top: 20px;
    color: white;
}

#result p {
    margin: 5px 0;
}

#result span {
    font-weight: bold;
    color: orange;
}

/* thumbail */
.thumbnail{
    position: absolute;
    bottom: 50px;
    left: 50%;
    width: max-content;
    z-index: 100;
    display: flex;
    gap: 20px;
}
.thumbnail .item{
    width: 150px;
    height: 220px;
    flex-shrink: 0;
    position: relative;
}
.thumbnail .item img{
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 20px;
}
.thumbnail .item .content{
    color: #fff;
    position: absolute;
    bottom: 10px;
    left: 10px;
    right: 10px;
}
.thumbnail .item .content .title{
    font-weight: 500;
}
.thumbnail .item .content .description{
    font-weight: 300;
}
/* arrows */
.arrows{
    position: absolute;
    top: 80%;
    right: 52%;
    z-index: 100;
    width: 300px;
    max-width: 30%;
    display: flex;
    gap: 10px;
    align-items: center;
}
.arrows button{
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background-color: #eee4;
    border: none;
    color: #fff;
    font-family: monospace;
    font-weight: bold;
    transition: .5s;
}
.arrows button:hover{
    background-color: #fff;
    color: #000;
}

/* animation */
.carousel .list .item:nth-child(1){
    z-index: 1;
}