<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Doomsday Algorithm - YTD</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <script src="https://cdn.jsdelivr.net/npm/chart.js"></script>
</head>
<body>
    <header>
        <nav>
            <ul>
                <li><a href="{{ url_for('index') }}">HOME</a></li>
                <li><a href="{{ url_for('lapse') }}" id="lapse-link"></a></li>
            </ul>
        </nav>
    </header>
    <main>
        <h1 id="lapse-heading"></h1>
        <canvas id="ytd-chart"></canvas>
    </main>
    <script src="{{ url_for('static', filename='js/script.js') }}"></script>
</body>
</html>
